id: '1762718598905'
alias: Arriving home
description: ''
triggers:
  - trigger: zone
    entity_id: person.john_allen
    zone: zone.home
    event: enter
conditions: []
actions:
  - action: script.lights
    data:
      lights:
        - light.kitchen_lights
      night_mode: dim_warm
      night_brightness: 15
mode: single
