id: '1763236875247'
alias: Bathroom presence
description: ''
triggers:
  - id: motion_on
    entity_id:
      - binary_sensor.bathroom_presence_sensor_occupancy
    to:
      - 'on'
    trigger: state
  - id: motion_off
    entity_id:
      - binary_sensor.bathroom_presence_sensor_occupancy
    to:
      - 'off'
    for:
      seconds: "{{ states('input_number.presence_delay') | int(5) }}"
    trigger: state
actions:
  - choose:
      - conditions:
          - condition: trigger
            id: motion_on
          - condition: state
            entity_id: light.bathroom_strip
            state: 'off'
          - condition: state
            entity_id: light.bathroom_lamp
            state: 'off'
        sequence:
          - action: script.bathroom_lights
      - conditions:
          - condition: trigger
            id: motion_off
          - condition: state
            entity_id: input_boolean.bathing_mode
            state: 'off'
        sequence:
          - target:
              entity_id: light.bathroom_strip
            action: light.turn_off
          - target:
              entity_id: light.bathroom_lamp
            action: light.turn_off
mode: restart
