id: '1763159308934'
alias: Dad's Bedroom button
description: Handle single, double, and long presses for Dad's bedroom button
use_blueprint:
  path: multi_click_button_controller.yaml
  input:
    button_entity: event.bedside_button_button
    single_press_action:
      - choose:
          - conditions:
              - condition: state
                entity_id: light.bedroom_lamp
                state: 'off'
            sequence:
              - action: scene.turn_on
                target:
                  entity_id: scene.bedroom_lights_on
          - conditions:
              - condition: state
                entity_id: light.bedroom_lamp
                state: 'on'
            sequence:
              - action: scene.turn_on
                target:
                  entity_id: scene.bedroom_lights_off
    double_press_action:
      - action: scene.turn_on
        target:
          entity_id: scene.good_morning
    long_press_action:
      - action: scene.turn_on
        target:
          entity_id: scene.lights_out
triggers:
  - trigger: state
    entity_id: event.bedside_button_button
