id: '1763159308934'
alias: Dad's Bedroom button
description: Handle single, double, and long presses for Dad's bedroom button
triggers:
  - trigger: state
    entity_id: event.bedside_button_button
conditions: []
actions:
  - choose:
      - conditions:
          - condition: template
            value_template: '{{ state_attr(''event.bedside_button_button'', ''event_type'') == ''multi_press_1'' }}'
        sequence:
          - choose:
              - conditions:
                  - condition: state
                    entity_id: light.bedroom_lights
                    state: 'off'
                sequence:
                  - action: script.bedroom_lights
              - conditions:
                  - condition: state
                    entity_id: light.bedroom_lights
                    state: 'on'
                sequence:
                  - action: light.turn_off
                    target:
                      entity_id: light.bedroom_lights
      - conditions:
          - condition: template
            value_template: '{{ state_attr(''event.bedside_button_button'', ''event_type'') == ''multi_press_2'' }}'
        sequence:
          - action: script.bedroom_lights
      - conditions:
          - condition: template
            value_template: '{{ state_attr(''event.bedside_button_button'', ''event_type'') == ''long_press'' }}'
        sequence:
          - action: scene.turn_on
            target:
              entity_id: scene.lights_out
mode: single
