id: '1762718475350'
alias: Living Room – Atom S3 Multi-Click Button
description: >-
  Single press → toggle hobby mode. Double press → activate TV time script. Long press → activate lights out scene.
triggers:
  - event_type: esphome.button_pressed
    event_data:
      device: tiny-button
    id: button_event
    trigger: event
conditions: []
actions:
  - choose:
      - conditions:
          - condition: template
            value_template: '{{ trigger.event.data.click_type == ''single'' }}'
        sequence:
          - action: script.toggle_hobby
      - conditions:
          - condition: template
            value_template: '{{ trigger.event.data.click_type == ''double'' }}'
        sequence:
          - action: script.tv_time
      - conditions:
          - condition: template
            value_template: '{{ trigger.event.data.click_type == ''long'' }}'
        sequence:
          - action: scene.turn_on
            target:
              entity_id: scene.lights_out
mode: single
