
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Light Groups
light:
  - platform: group
    name: Kitchen Lights
    entities:
      - light.island_bulb
      - light.sink_bulb
      - light.hue_lightstrip_plus_1
  - platform: group
    name: Island Lights
    entities:
      - light.island_bulb
      - light.sink_bulb
  - platform: group
    name: Dad's Overhead Lights
    entities:
      - light.bedroom_overhead_left
      - light.bedroom_overhead_right
  - platform: group
    name: Bedroom Lights
    entities:
      - light.bedroom_lamp
      - light.bedroom_overhead_left
      - light.bedroom_overhead_right
  - platform: group
    name: Bathroom Lights
    entities:
      - light.bathroom
      - light.bathroom_lamp
  - platform: group
    name: Living Room Overhead Light
    entities:
      - light.living_room_overhead_thread
      - light.living_room_overhead_wifi
  - platform: group
    name: Living Room Lights
    entities:
      - light.living_room_light
      - light.living_room_overhead_thread
      - light.living_room_overhead_wifi

# Mixed entity groups (lights + switches)
group:
  kitchen_all:
    name: Kitchen All
    entities:
      - light.island_bulb
      - light.sink_bulb
      - light.hue_lightstrip_plus_1
      - switch.kitchen_counter_switch

input_boolean:
  charlie_presence:
    name: "Charlie's Presence"
    icon: mdi:account

# Helpers
input_number:
  bathroom_motion_timeout:
    name: Bathroom Motion Timeout
    min: 0.5
    max: 10
    step: 0.5
    unit_of_measurement: minutes
    icon: mdi:timer-outline
    initial: 2
  laundry_room_motion_delay:
    name: Laundry Room Motion Delay
    min: 1
    max: 60
    step: 1
    unit_of_measurement: seconds
    icon: mdi:timer-outline
    initial: 5
  tv_time_transition_duration:
    name: TV Time Transition Duration
    min: 0
    max: 60
    step: 1
    unit_of_measurement: seconds
    icon: mdi:timer-outline
    initial: 11

input_datetime:
  potty_time:
    name: Potty Time
    has_date: false
    has_time: true
    icon: mdi:clock-outline
    initial: "02:30:00"
  daytime_start:
    name: Daytime Start
    has_date: false
    has_time: true
    icon: mdi:weather-sunset-up
    initial: "06:00:00"
  nighttime_start:
    name: Nighttime Start
    has_date: false
    has_time: true
    icon: mdi:weather-sunset-down
    initial: "23:00:00"
  alarm_window_start:
    name: Alarm Window Start
    has_date: false
    has_time: true
    icon: mdi:shield-lock
    initial: "20:00:00"
  alarm_window_end:
    name: Alarm Window End
    has_date: false
    has_time: true
    icon: mdi:shield-lock-open
    initial: "07:00:00"

# Adaptive Lighting Template Sensors
# Color temp: 2200K (night) -> 2400K (below horizon) -> up to 4500K (midday)
# Brightness: 10% (night) -> 25% (dusk/dawn) -> 70-90% (day, boosted by clouds)
template:
  - sensor:
      - name: "Adaptive Color Temp"
        unique_id: adaptive_color_temp
        unit_of_measurement: "K"
        icon: mdi:temperature-kelvin
        state: |
          {% set sun_elev = state_attr('sun.sun', 'elevation') | float(0) %}
          {% set hour = now().hour %}
          {% if hour >= 23 or hour < 6 %}
          2200
          {% elif sun_elev < 0 %}
          2400
          {% elif sun_elev < 15 %}
          {{ (2400 + (sun_elev * 80)) | int }}
          {% else %}
          {{ [3600 + ((sun_elev - 15) * 20) | int, 4500] | min }}
          {% endif %}

      - name: "Adaptive Brightness"
        unique_id: adaptive_brightness
        unit_of_measurement: "%"
        icon: mdi:brightness-percent
        state: |
          {% set sun_elev = state_attr('sun.sun', 'elevation') | float(0) %}
          {% set cloud_cover = state_attr('weather.forecast_home', 'cloud_coverage') | float(0) %}
          {% set hour = now().hour %}
          {% if hour >= 23 or hour < 6 %}
          20
          {% elif sun_elev < 0 %}
          32
          {% elif sun_elev < 15 %}
          {{ (32 + (sun_elev * 1.6)) | int }}
          {% else %}
          {{ [56 + (cloud_cover / 100 * 16) | int, 80] | min }}
          {% endif %}


