
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Helpers
input_number:
  bathroom_motion_timeout:
    name: Bathroom Motion Timeout
    min: 0.5
    max: 10
    step: 0.5
    unit_of_measurement: minutes
    icon: mdi:timer-outline
    initial: 2
  laundry_room_motion_delay:
    name: Laundry Room Motion Delay
    min: 1
    max: 60
    step: 1
    unit_of_measurement: seconds
    icon: mdi:timer-outline
    initial: 5
  tv_time_transition_duration:
    name: TV Time Transition Duration
    min: 0
    max: 60
    step: 1
    unit_of_measurement: seconds
    icon: mdi:timer-outline
    initial: 11

input_datetime:
  potty_time:
    name: Potty Time
    has_date: false
    has_time: true
    icon: mdi:clock-outline
    initial: "02:30:00"
  daytime_start:
    name: Daytime Start
    has_date: false
    has_time: true
    icon: mdi:weather-sunset-up
    initial: "07:00:00"
  nighttime_start:
    name: Nighttime Start
    has_date: false
    has_time: true
    icon: mdi:weather-sunset-down
    initial: "22:00:00"
  alarm_window_start:
    name: Alarm Window Start
    has_date: false
    has_time: true
    icon: mdi:shield-lock
    initial: "20:00:00"
  alarm_window_end:
    name: Alarm Window End
    has_date: false
    has_time: true
    icon: mdi:shield-lock-open
    initial: "07:00:00"
