esphome:
  name: atom-echo
  friendly_name: Atom Echo BT Proxy
  platformio_options:
    board_build.flash_mode: dio

esp32:
  board: m5stack-atom
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "D9uosl1DCbenDXNNn0CPGTU6pwN7AW8UBvZB0baMVs0="

ota:
  - platform: esphome
    password: "c16025efd9d52c295b80fd9690c74d1f"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Atom-Echo Fallback Hotspot"
    password: "uMKkAAWNCylR"

captive_portal:

# Bluetooth Proxy
esp32_ble_tracker:
  scan_parameters:
    interval: 1100ms
    window: 1100ms
    active: true

bluetooth_proxy:
  active: true

# Button
binary_sensor:
  - platform: gpio
    pin:
      number: GPIO39
      inverted: true
    name: "Button"
    on_press:
      - light.turn_on:
          id: led
          red: 0%
          green: 100%
          blue: 0%
          brightness: 100%
    on_release:
      - light.turn_off: led


# LED (SK6812) - shows BT proxy status
light:
  - platform: esp32_rmt_led_strip
    id: led
    name: "LED"
    pin: GPIO27
    num_leds: 1
    rgb_order: GRB
    chipset: SK6812
    # LED will be off by default, green when button pressed
